@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --color-primary: rgba(47,123,190,1);
  --color-primary-variant: rgba(47,123,190,0.8);
  --color-primary-very-light: rgba(47,123,190,0.05);
  --color-black: #000;
  --color-black-variant: #232323;
  --color-grey: rgba(123,123,123,1);
  --color-white: #fff;
  --color-light: rgba(174,174,178,1);
  --color-very-light: rgba(174,174,178,0.5);

  --transition: all 400ms ease;

  --container-width-lg: 60%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  hyphens: auto;
  color: var(--color-grey);
  line-height: 1.5;
}

/* GENERAL STYLES */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h2, h3, h4, h5 {
  font-weight: 400;
}

h1 {
  color: var(--color-black);
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  color: var(--color-black);
  font-size: 1.2rem;
  font-weight: 700;
}

p {
  font-size: 15px;
}

.btn {
  background: var(--color-black);
  width: max-content;
  display: inline-block;
  color: var(--color-white);
  padding: 0.75rem 1.2rem;
  border-radius: 3rem;
  cursor: pointer;
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-black-variant);
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-white);
}

.btn-primary:hover {
  background: var(--color-primary-variant);
}

/* MEDIA QUERY (Medium) */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}

/* MEDIA QUERY (Small) */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
}
